
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}
@media (min-width: 772px) {
    div {
        width: 45vw;  /* Set divs to 45% of the viewport width */
        display: inline-block; /* Ensures divs appear side-by-side */
        vertical-align: top; /* Keeps alignment proper */
    }

    img {
        max-height: 30vh; /* Limit image height to 30% of viewport height */
        width: auto; /* Maintain aspect ratio */
    }
}


@media (min-width: 998px) {
    div {
        width: 30vw;  /* Set divs to 30% of the viewport width */
        display: inline-block; /* Ensures divs appear side-by-side */
    }
}